<style>
                body { 
                    background-color: bisque
                 
            }
                .title_espec{
                line-height: 25px;
                text-decoration: underline;
                font-size: 2em;
                font-weight: bold;
                color: black;
            }
            .text_portifolio{
                font-family: monospace, sans-serif;
                font-weight: 500;
                line-height: 30px;

            }
            .info {
                border: 5px solid black;
                padding: 35px;
                margin: 35px;
            }
            .info h3,h4 {
                text-decoration: underline;
                font-size: 2em;
                font-weight: bold;
                color: black;
            
            }
            img {
                border-radius: 50% ;
                margin-left: 35px;
                width: 300px;
                margin-right: 60px;
                
            }
            .nav-link{
                display: inline;
                margin:10%;
                font-size: 25px;            
            }
            .main-info{
                background-color: bisque;
            }
            .main-info h1{
                margin-left: 40%;
            }
            #footer {
                font-size: 45px;
                margin:35px;
                padding: 35px;
                border:5px solid black

            }
            .font-spec{
                text-decoration:underline;
                font-size: 25px;

            }
        
            
</style>